## Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"
**Задание 1**

In [1]:
my_string='test'
my_string[1:3]

'es'

In [2]:
my_string='testing'
my_string[3]

't'

**Задание 2**

In [33]:
my_list = [1,4,6,0]
total = 0
i = 0
while my_list[i] > 0:
    total += my_list[i]
    i += 1    
print(total)

11

In [34]:
my_list = [1,4,6,0]
total = 0
i = 0
while my_list[i] < 0:
    total += my_list[i]
    i += 1
print(total)

0

**Задание 3**

In [8]:
boys_list=['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls_list=['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
sorted(boys_list)

['Alex', 'Arthur', 'John', 'Peter', 'Richard']

In [9]:
sorted(girls_list)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [45]:
perfet_couples=[['Alex','Emma'],['Arthur','Kate'],['John','Kira'],['Peter','Liza'],['Richard','Trisha']]
print(perfet_couples[0])
print(perfet_couples[1])
print(perfet_couples[2])
print(perfet_couples[3])
print(perfet_couples[4])

['Alex', 'Emma']
['Arthur', 'Kate']
['John', 'Kira']
['Peter', 'Liza']
['Richard', 'Trisha']

In [17]:
boys_list1 = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls_list1 = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

sorted(boys_list1)

['Alex', 'Arthur', 'John', 'Michael', 'Peter', 'Richard']

In [18]:
sorted(girls_list1)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [20]:
perfect_couple=zip(boys_list1,girls_list1)
print(list(perfect_couple))

[('Peter', 'Kate'), ('Alex', 'Liza'), ('John', 'Kira'), ('Arthur', 'Emma'), ('Richard', 'Trisha')]

In [25]:
for copules in perfect_couple:
    print(couples[0],couples[1])
print('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

**Задание 4**

In [1]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [4]:
print('Средняя температура в странах:')
for i in range(len(countries_temperature)):
    print(countries_temperature[i][0],round((sum(countries_temperature[i][1])/len(countries_temperature[i][1])-32)/1.8,1),"C")

Средняя температура в странах:
Thailand 23.9 C
Germany 13.8 C
Russia 3.7 C
Poland 12.0 C